<img class="Background" src="https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=1380&t=st=1673516990~exp=1673517590~hmac=02b774d082dbcb9d9be9d62a0c53664f18605ef8f39139ca4d36ad27a4510261"/>
<div class="Back">

  <div class="login">
    <h1>Login</h1>
  
   <input #username placeholder="Username"/>
    <input #password placeholder="Password"/> 
    <button (click)="LoginFun(username.value,password.value)" >Login</button>
    <br>
    <button class="signupbtn" routerLink="/Register">Sign Up</button>
  
  </div>

</div>