<div class="dropdown">
  <button><span class="material-symbols-outlined">
    more_vert
    </span></button>
  <div class="dropdown-options">
    <!-- <a routerLink="/AccountDetails">Account<span class="material-symbols-outlined" style="position: fixed; margin-left: 1.5%;">
      person
      </span></a>
    <a routerLink="/Settings">Setting<span class="material-symbols-outlined" style="position: fixed; margin-left: 2%;">
      settings
      </span></a> -->
    <a (click)="Logout()">Logout<span class="material-symbols-outlined" style="position: fixed; margin-left: 2%;">
      logout
      </span></a>
  </div>
</div>