<img class="Background" src="https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=1380&t=st=1673516990~exp=1673517590~hmac=02b774d082dbcb9d9be9d62a0c53664f18605ef8f39139ca4d36ad27a4510261"/>
<div class="login">
  <H1>Register</H1>
   <input placeholder="Username" #Username/> 
   <input placeholder="Email" #Email/> 
   <input placeholder="Full Name" #FullName/> 
   <input placeholder="Password" #Password/> 
   <input placeholder="Confirm Password" #ConfirmPassword/> 
   <button >Register</button>
   <br>
   <button routerLink="/Login" class="signupbtn">Sign In</button>



</div>